WebTest/Service References/WSTestReference/WSTest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarReglaValidacionExcluir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sQuery" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarReglaValidacionExcluirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarReglaValidacionExcluirResult" type="tns:ResponseJsonOfBEReglaValidacionExcluir" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseJsonOfBEReglaValidacionExcluir">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfBEReglaValidacionExcluir" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBEReglaValidacionExcluir">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BEReglaValidacionExcluir" nillable="true" type="tns:BEReglaValidacionExcluir" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BEReglaValidacionExcluir">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="encuestaID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="regla" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comentario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fechaRegistro" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="listarReglaValidacionExcluirSoapIn">
    <wsdl:part name="parameters" element="tns:listarReglaValidacionExcluir" />
  </wsdl:message>
  <wsdl:message name="listarReglaValidacionExcluirSoapOut">
    <wsdl:part name="parameters" element="tns:listarReglaValidacionExcluirResponse" />
  </wsdl:message>
  <wsdl:portType name="WSTestSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarReglaValidacionExcluir">
      <wsdl:input message="tns:listarReglaValidacionExcluirSoapIn" />
      <wsdl:output message="tns:listarReglaValidacionExcluirSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSTestSoap" type="tns:WSTestSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarReglaValidacionExcluir">
      <soap:operation soapAction="http://tempuri.org/listarReglaValidacionExcluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSTestSoap12" type="tns:WSTestSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarReglaValidacionExcluir">
      <soap12:operation soapAction="http://tempuri.org/listarReglaValidacionExcluir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSTest">
    <wsdl:port name="WSTestSoap" binding="tns:WSTestSoap">
      <soap:address location="http://localhost:50245/App/Services/WSTest.asmx" />
    </wsdl:port>
    <wsdl:port name="WSTestSoap12" binding="tns:WSTestSoap12">
      <soap12:address location="http://localhost:50245/App/Services/WSTest.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>